@media only screen and (max-width: 700px) {
    :root{
        --main-color:#ffca28;
        --main-light:#fffd61;
        --main-variant:#c79a00;
        --accent-main:#80deea;
        --accent-light:#b4ffff;
        --accent-variant:#4bacb8;
    }
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        font-size: 10px;
        width: 100%;
        
    }
    .spacer{
        height: 15px;
        width: 100%;
        background-color: var(--main-variant);
    }
    .contain, .contact{
        display: block;
        width: 100%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }
    nav{
        display: grid;
        grid-template-columns: [a] 5fr [b] 1fr [c] 1fr[d];
        background-color:var(--main-color);
        text-align: left;
        height: 60px;
        width: 100%;
        margin: 0;
    }
    nav > a{
        font-size: 20px;
        padding: 10px 10px;
    }

/*Hamburger stuff*/ 
    .menub{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        grid-column: c/d;
        bottom: 10px;
    }
    .burger{
        width: 50px;
        height: 6px;
        background: var(--accent-variant);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,100, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before, .burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background:var(--accent-variant);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,100, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-16px); 
    }
    .burger::after {
        transform:translateY(16px);
    }
    /*Animation*/
    .menub.open .burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menub.open .burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menub.open .burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
/*Hamburger end*/
    .icon > img {
        height: 100%;
        width: 80%;
    }
    .navb {
        display:none;
    }
    .image{
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0;
    }
    #logo{
        position: relative;
        bottom: 15px;
        margin: 0 ;
        font-size: 50px;
}
    .content{
        display: block;
    }
    .lines {
            width: 85%;
            border-bottom: 2px black solid;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    .lines:nth-child(2){
        margin: auto;
      
        width: 65%;
    }
    .info > h1 {
        font-size: 15px;
    }
    .info > h3 {
        font-size: 15px;
    }
    p{
        margin: 10px;
        padding: 10px;
    }
    .bigtext {
        display: block;
        margin: 30px 0px 0px 0px;
        border: none;
    }
    .bigtext > h3 {
       display: none;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 100%;
        justify-content: space-around;
    }
    .skills > img {
        height: 80px;
    }
    .skills > img:first-child {
        height: 90px;
        margin-bottom: 5px;
        margin-top: 0;
    }
    .skills > img:nth-child(2) {
        height: 70px;
        width: 70px;
    }
    .skills > img:nth-child(3) {
        height: 70px;
        margin-bottom: 0 ;
        margin-top: 25px;
    }
    .projects, footer{
        display: block;
        background-color: gray;
        width: 620px;
        padding: 10px 0;
        width: 90%;
    }
    .projects > h2 {
        font-size: 30px;
    }
    /*css Carousel*/
    .carousel {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        width: 90%;
    }
    .slider{
        display: flex;
        width: 90%;
        height: 300px;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin: auto;
    }
    .slider > div {
        scroll-snap-align: center;
    }
    .slide{
        width: 400px;
        flex-shrink: 0;
        height: 100%;
    }
    .slide > img {
        height: 300px;
        width: 400px;
    }
    #jump {
        margin-bottom: 10px;
        text-align: center;
    }
    #jump > div {
        text-align: center;
        display: inline-block;
        width: 50px;
        background-color: lightgray;
        border-radius: 64px;
    }
    .descriptions > img, .skills > img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
    .space {
        height: 20px;
    }
    /*Last page*/
    .contact > p {
        margin: 0 25px;
    }
    .message {
        width: 85%;
        margin: 0 35px;
        height: 100px;
        border-radius: 8px;
    }
    input{
        width: 85%;
        margin: 0 35px;
    }
    button {
        display: block;
        margin: 20px 0 15px 35px;
    }
    footer{
        display: grid;
        grid-template-columns: [a] 1fr [b] 1fr [c];
        text-align: center;
        
    }
    .one > img {
        margin: 0 10px;
    }
    .two > img {
        margin: 0 auto;
    }
}