@media only screen and (max-width: 700px) {
   
    
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        font-size: 10px;
        width: 100%;
        
    }
    .spacer{
        height: 10px;
        width: 100%;
        background-color: var(--main-variant);
    }
    
    .contain, .contact{
        display: block;
        width: 100%;
        background-color: #FFECb3;
        text-align: center;
        margin: 0 auto;
    }
    nav{
        display: grid;
        grid-template-columns: [a] 1fr [b] 1fr [x] 1fr [c] 1fr[d];
        grid-template-rows: [e] 1fr [f];
        background-color:var(--main-color);
        text-align: left;
        height: 60px;
        width: 100%;
        margin: 0;
    }
    nav > a{
        font-family: 'Lato', sans-serif;
        color: var(--accent-variant);
        text-decoration: none;
        font-size: 20px;
        margin: 5px auto;
        padding: 10px 10px;
    }

/*Hamburger stuff*/ 
    .menub{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        grid-column: c/d;
        bottom: 10px;
        justify-self: end;
    }
    .burger{
        width: 50px;
        height: 6px;
        background: var(--accent-variant);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,100, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before, .burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background:var(--accent-variant);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,100, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-16px); 
    }
    .burger::after {
        transform:translateY(16px);
    }
    /*Animation*/
    .menub.open .burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menub.open .burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menub.open .burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
/*Hamburger end*/
    .icon > img {
        height: 100%;
        width: 80%;
    }
    .a {
        grid-column: a/b;
        grid-row: e/f;
    }
    .b {
        grid-column: b/x;
        grid-row: e/f;
    }
    .c {
        grid-column: x/c;
        grid-row: e/f;
    }
    .navb {
        display:none;
    
    }
    .image{
        height: 25%;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 30px auto 30px auto;
        border-radius: 32px;
        background-color: var(--accent-light);
    }
    #logo{
        position: relative;
        bottom: 15px;
        margin: 0 ;
        font-size: 50px;
        font-family: 'Lora', serif;
}
    .content{
        display: block;
    }
    .lines {
            width: 85%;
            border-bottom: 2px black solid;
            margin: 15px auto 15px auto ;
        }
    .d{
        margin: auto;
        width: 65%;
    }
    
    .info > h1 {
        font-family: 'Lora', serif;
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .info > h3 {
        font-family: 'Lora', serif;
        font-size: 20px;
        margin-top: 0;
        
    }
    .info {
        width: 60%;
        height: 100px;
        margin: 0 auto;
        border: 5px solid var(--accent-variant);
        background-color: var(--accent-main);
    }
    p{
        font-family: 'Lato', sans-serif;
        margin: 10px;
        padding: 5px 30px;
    }
    .bigtext {
        display: block;
        margin: 30px 0px 0px 0px;
        border: none;
    }
    .bigtext > h3 {
       display: none;
    }
    h3:nth-child(3) {
        display: block;
        margin: 0 0 10px 0;
    }

    .skills{
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 100%;
        justify-content: space-around;
    }
    .skills > img:first-child {
        height: 35%;
        margin-bottom: 5px;
        
    }
    .skills > img:nth-child(2) {
        height: 35%;
        width: 70px;
    }
    .skills > img:nth-child(3) {
        height: 30%;
        width: 70px;
        margin-bottom: 0 ;
        margin-top: 25px;
    }
    .skills > img:nth-child(4) {
        height: 40%;
        width: 70px;
        
       }
    .projects, footer{
        display: block;
        padding: 10px 0;
        width: 90%;
        width: 100%;
        background-color: #FFECb3;
        text-align: center;
        margin: 0 auto;
    }
    .projects > h2 {
        font-size: 30px;
        height: 30px;
        padding: 10px 0 10px 0;
        background-color: var(--main-color);
    }
    /*css Carousel*/
    .carousel {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        width: 90%;
    }
    .slider{
        display: flex;
        width: 90%;
        height: 300px;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin: 1px auto;
        border-radius: 12px;
        box-shadow: 7px 10px rgba(75, 172, 184, 0.6);
    }
    .slider > div {
        scroll-snap-align: center;
    }
    .slide{
        width: 100%;
        flex-shrink: 0;
        height: 100%;
    }
    .slide > img {
        height: 300px;
        width: 800px;
    }
    #jump {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    #jump > div {
        display: inline-block;
        width: 40px;
        height: 30px;
        margin: 0 5px;
        border-radius: 12px;
        background-color: var(--main-color);

    }
    #jump > div >a {
        display: block;
        font-size: 20px;
        position: relative;
        top: 2px;
        text-decoration: none;
        color: black;
    }
    .descriptions > img, .skills > img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
    .descriptions {
        margin: 30px auto;
        background-color: rgba(128, 222, 234, 0.6);
        border: 3px solid var(--accent-variant);
    }
    #import {
        font-size: 20px;
    }
    .space {
        height: 40px;
    }
    /*Last page*/
    .contact > p {
        display: block;
        font-size: 15px;

    }
    .contact > h2 {
        background-color: var(--main-color);
    }
    .message {
        width: 85%;
        margin: 0 35px;
        height: 100px;
        border-radius: 8px;
    }
    input{
        width: 65%;
        margin: 0 35px;
    }
    button {
        display: block;
        margin: 20px 0 15px 35px;
    }
    footer{
        display: grid;
        grid-template-columns: [a] 1fr [b] 1fr [c];
        text-align: center;
        background-color: var(--accent-variant);
        border-top: 6px solid var(--accent-light);
    }
    .one > h3 {
        font-size: 15px;
    }
    .one > i {
        margin: 0 10px;
    }
    .two > h3 {
        font-size: 15px;
    }
    .two > i {
        margin: 0 auto;
    }
}