

 :root{
    --main-color:#ffca28;
    --main-color:#fffd61;
    --main-alt:#ecebac;
    --main-variant:#c79a00;
    --accent-main:#80deea;
    --accent-color:#b4ffff;
    --accent-variant:#4bacb8;
}
nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: var(--main-color);
    border-bottom: 4px solid var(--accent-main);
    height: 60px;
    width: 100%;
}
nav > a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.menub {
    display: none;
}
a:hover {
    color: var(--accent-main);
}

.icon {
    display: none;
}

/*PAGE ONE*/
.contain {
    display: grid;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: [a] 1fr [b] .5fr [c];
    grid-template-rows: [d] .25fr [e] .25fr [f] .50fr [g];
    background-color: #FFECb3;
    box-shadow: inset 0 4px rgba(75, 172, 184, 0.3);

}

.image{
    grid-column: b/c;
    grid-row: d/e;
    background-color: #FFECb3;
    box-shadow: inset 0 4px rgba(75, 172, 184, 0.3);
}
.image > img {
    margin-top: 20px;
    height: 350px;
    background-color: var(--accent-color);
    border-radius: 32px;
    
}
h2 {
    font-size: 55px;
    margin:0;
    grid-column: b/c;
}
.content {
    display: none;
}
.bigtext {
    grid-column: a/b;
    grid-row: d/f;
    
}
.bigtext > p {
    margin: 0 20px;
    font-size: 25px;
    text-align: left;
}
.info {
    grid-row: f/g;
    grid-column: b/c;
    
}
.info > h3 {
    position: relative;
    top: 20px;
}
.bigtext > h3:first-child{
    margin-top: 30px;
}
.bigtext > h3 {
    position: relative;
    font-size: 45px;
    margin-top: 70px;
  
}
.skills {
    display:flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    grid-column: a/b;
    grid-row: f/g;
    
}

/*PAGE TWO*/
.projects {
    width: 100%;
    margin: 0 auto;
    display: grid;
    text-align: center;
    grid-template-rows: [a] .25fr [b] 1fr [c] .25fr[d];
    grid-template-columns: [a]1fr[b].5fr[c];
    background-color: #FFECb3;
}
.projects > h2 {
    font-size: 45px;
    height: 60px;
    grid-row: a/b;
    grid-column: a/c;
    padding: px;
    background-color: var(--main-color);
    border-bottom: 10px solid var(--main-variant);
    border-top: 10px solid var(--main-variant);

}
/*css Carousel*/
#jump {
    text-align: center;
    grid-row: c/d;
    grid-column: a/b;
}
#jump > div {
    text-align: center;
    display: inline-block;
    height: 50px ;
    width: 50px;
    background-color: color--main-colorgray;
    border-radius: 64px;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 75%;
    grid-row: b/c;
    grid-column: a/b;
    margin: 0;
}
.slider{
    display: flex;
    flex-wrap: nowrap;
    height:40vw;
    width: 50vw;
    border-radius: 12px;
    box-shadow: 7px 10px rgba(75, 172, 184, 0.6);
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin: auto;
}
.slider > div {
    scroll-snap-align: center;
}
.slide{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}
 .slide > a > img {
    height: 100%;
    width: 100%;
}
.descriptions{
    text-align: center;
    background-color: darkgrey;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    grid-row: b/d;
    grid-column: b/c;
}
.descriptions > img, .skills > img {
    width: 100px;
    height: 100px;
    margin: 10px ;
}
.space {
    height: 20px;
}
#jump > div {
    width: 70px;
    height: 60px;
    margin: 0 5px;
    border-radius: 12px;
    background-color: var(--main-color)
}
#jump > div >a {
    display: block;
    font-size: 30px;
    position: relative;
    top: 10px;
    text-decoration: none;
    color: black;
}
#jump > div >a:hover {
    color: var(--accent-variant);
}

/*PAGE THREE SPECIFICS*/
.contact {
    width: 90%;
    margin:30px auto;
    text-align: center;
}
.contact >h2 {
    font-size: 40px;
}
button {
    display: block;
    margin: 10px auto;
}
/*footer*/
footer { 
    display: grid;
    grid-template-columns: [a] 1fr [b] 1fr [c];
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: grey;
}
.one > img {
    margin: 0 10px;
}
.two > img {
    margin: 0 auto;
}
