.contain {
    display: grid;
    height: 1000px;
     grid-template-columns: [a] 1fr [b] 1fr [c];
    grid-template-rows: [d] 1fr [e] 1fr [f] 1fr [g];
}
nav {
    background-color: grey;
    height: 100px;
    width: 100%;
    grid-row: d/e;
    grid-column: a/ c;
}
.icon > img {
    display: none;
}
.image{
    margin: 0 auto;
    grid-column: b/c ;
}
.image > img {
    height: 600px;
    
}
h2 {
    grid-column: b/c;
}









@media only screen and (max-width: 620px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkblue;
        margin: 0;
        
    }
    .contain, .contact{
        width: 90%;
        background-color: white;
        text-align: center;
        margin: 0 auto;
    }
    nav{
        display: grid;
        grid-template-columns: [a] 5fr [b] 1fr [c] 1fr[d];
        background-color: grey;
        border: 1.5px black solid;
        text-align: left;
        height: 50px;
    
    }
    .navb {
        display:none;
    
    }
    .icon{
        grid-column: c/d;
        justify-self: end;
    }
    .icon > img {
        height: 50px;
        width: 50px;
        padding: 0 10px;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0;
    }
    img {
        width: 400px;
        height: 400px;
    }
    #logo{
        position: relative;
        bottom: 15px;
        margin: 0 ;
        font-size: 50px;
    }
    .lines {
        width: 85%;
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .lines:nth-child(2){
        margin: auto;
        width: 65%;
    }
    p{
        padding: 10px;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        width: 100%;
        justify-content: space-around;
    }


    .projects, footer{
        background-color: gray;
        width: 620px;
        padding: 10px 0;
        width: 90%;
    }
    /*css Carousel*/
    .carousel {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
    }
    .slider{
        display: flex;
        width: 90%;
        height: 300px;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin: auto;
    }
    .slider > div {
        scroll-snap-align: center;
    }
    .slide{
        width: 400px;
        flex-shrink: 0;
        height: 100%;
    }
    .slide > img {
        height: 300px;
        width: 400px;
    }
    #jump {
        margin-bottom: 10px;
        text-align: center;
    }
    #jump > div {
        text-align: center;
        display: inline-block;
        width: 50px;
        background-color: lightgray;
        border-radius: 64px;
    }
    .descriptions{
        text-align: center;
        background-color: darkgrey;
        margin: 20px auto;
        width: 100%;
    }
    .descriptions > img, .skills > img {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
    .space {
        height: 20px;
    }
    .contact {
        text-align: left;
        margin: 0 ;
        width: 90%;
    }
    h2 {
        text-align: center;
    }
    .contact > p {
        margin: 0 25px;
    }
    .message {
        width: 85%;
        margin: 0 35px;
        height: 100px;
        border-radius: 8px;
    }
    input{
        width: 85%;
        margin: 0 35px;
    }
    button {
        display: block;
        margin: 20px 0 15px 35px;
    }


    footer{
        display: grid;
        grid-template-columns: [a] 1fr [b] 1fr [c];
        text-align: center;
        
    }
    .one > img {
        margin: 0 10px;
    }
    .two > img {
        margin: 0 auto;
    }
}